*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/data/*
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/coverage/
/spec/tmp/*

**.orig
rerun.txt
pickle-email-*.html
.rvmrc
public/uploads

# Ignore junk file
.DS_store
**/*.swp
*.swp
**/*~
*.*~
*~
db/*
db/schema.rb
public/assets/*
reports/pdfs/*
