<body>
	<div id="algorithm_panel" class="panel right_panel">
		<header><h2 class="header_title">Control Panel</h2></header>

		<div class="accordion">
			<h3 id="draw_objects" onclick="Panel.radioClear()"><a href="#">オブジェクト作成</a></h3>
			<div id="draw_options" class="draw_tool">
				<div id="draw_object" class="sub_options">
					<label class="radio">
            <input type="radio" name="draw_object" value="server">
            server
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="user">
           	user
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="home">
           	home
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="road">
           	road
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="tree">
         		tree
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="car">
         		car
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="office">
         		office
          </label>
				</div>
			</div>

			<h3 id="remove_object" onclick="Panel.radioClear()">オブジェクト削除</h3>
			<div id="delete_options" class="delete_tool">
				<div id="delete_object" class="sub_options">
					<label class="radio">
            <input type="radio" name="delete_object" value="server">
            server
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="user">
           	user
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="home">
           	home
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="road">
           	road
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="tree">
         		tree
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="car">
         		car
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="office">
         		office
          </label>
				</div>
			</div>
		
			<h3>設定ファイル読み込み</h3>
			<div id="config" class="sub_options">
        <%= form_tag(simulator_path, { remote: true, multipart: true } ) do %>
          <input type="file" id="file-input" name="file" style="display: none;">
          <div class="input-prepend">
            <a class="btn" onclick="$('#file-input').click();"><i class="icon-folder-open"></i></a>
            <span id="cover" class="input-medium uneditable-input">select file</span>
          </div>

          <%= submit_tag("送信", { class: "btn" }) %>
        <% end %>
			</div>
		</div><!-- .accordion -->
	</div>

  <div id="play_panel" class="panel right_panel">
    <button id="button1" class="btn">開始</button>
    <button id="button2" class="btn">停止</button>
    <button id="button3" class="btn">リセット</button>
    <div id="clock">
      <span id="time">00:00:00:000</span>
    </div>
  </div>

  <canvas id='canvas' width="1800" height="1200"></canvas> 
  
</body>