<body>
	<div id="algorithm_panel" class="panel right_panel">
		<header><h2 class="header_title">Control Panel</h2></header>

		<div class="accordion">
			<h3 id="draw_objects" onclick="Panel.radioClear()"><a href="#">オブジェクト作成</a></h3>
			<div id="draw_options" class="draw_tool">
				<div id="draw_object" class="sub_options">
					<label class="radio">
            <input type="radio" name="draw_object" value="server">
            server
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="user">
           	user
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="home">
           	home
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="road">
           	road
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="tree">
         		tree
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="car">
         		car
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="office">
         		office
          </label>
					<label class="radio">
            <input type="radio" name="draw_object" value="nothing">
           	nothing
          </label>
				</div>
			</div>

			<h3 id="remove_object" onclick="Panel.radioClear()">オブジェクト削除</h3>
			<div id="delete_options" class="delete_tool">
				<div id="delete_object" class="sub_options">
					<label class="radio">
            <input type="radio" name="delete_object" value="server">
            server
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="user">
           	user
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="home">
           	home
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="road">
           	road
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="tree">
         		tree
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="car">
         		car
          </label>
          <label class="radio">
            <input type="radio" name="delete_object" value="office">
         		office
          </label>
					<label class="radio">
            <input type="radio" name="delete_object" value="nothing">
           	nothing
          </label>
				</div>
			</div>
		
			<h3>設定ファイル読み込み</h3>
			<div id="config" class="sub_options">
				<input type="file" id="config"></input>
			</div>
		</div><!-- .accordion -->
	</div>


	<canvas id='canvas' width="1620" height="810" style="background-color:#efefef;"></canvas> 
</body>