<body>
	<div id="algorithm_panel" class="panel right_panel">
		<header><h2 class="header_title">Control Panel</h2></header>

		<div class="accordion">
			<h3 id="draw_objects"><a href="#">オブジェクト設置</a></h3>
			<div id="draw_options" class="draw_tool">
				<div id="draw_object" class="sub_options">
					<input type="radio" name="draw_object" value="access_point"/>
					<label class="option_label">AccessPoint</label> <br />
					<input type="radio" name="draw_object" value="user"/>
					<label class="option_label">user</label> <br />
					<input type="radio" name="draw_object" value="nothing"/>
					<label class="option_label">nothing</label> <br />
				</div>
			</div>

			<h3>ノードの追加&削除</h3>
			<div id="draw_object" class="sub_options">
				<button id="button1" class="btn" onClick="Wireless.create_node(30,30)" >ノードの追加</button>
				<button id="button2" class="btn" onClick="Wireless.remove_node()" >ノードの削除</button>
			</div>
			<h3>自動移動</h3>
			<div id="draw_object" class="sub_options">
				<input type="checkbox" id="auto_move" value="on" onClick="Wireless.modeChange();" >自動移動</input>
			</div>
		</div><!-- .accordion -->
	</div>

	<div id="server_panel" class="panel right_panel">
		<header><h2 class="header_title">Server Panel</h2></header>
		<div class="server_info">
			<h3>ノード情報</h3>
			<div id="server_info" class="sub_options">
				<%= render 'node_info' %>
			</div>
			<h3>記事一覧</h3>
			<div id="articles" class="sub_options">
				<p>sample</p>
			</div>
		</div>
	</div>
</div>



	<canvas id='canvas' width="1600" height="800" style="background-color:#eee9e9;"></canvas> 
</body>