<body>
	<div id="algorithm_panel" class="panel right_panel">
		<header><h2 class="header_title">Control Panel</h2></header>

		<div class="accordion">
			<h3 id="draw_objects"><a href="#">オブジェクト設置</a></h3>
			<div id="draw_options" class="draw_tool">
				<div id="draw_object" class="sub_options">
					<label class="radio">
            <input type="radio" name="draw_object" value="server">
            server
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="user">
           	user
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="home">
           	home
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="road">
           	road
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="tree">
         		tree
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="car">
         		car
          </label>
          <label class="radio">
            <input type="radio" name="draw_object" value="office">
         		office
          </label>
					<label class="radio">
            <input type="radio" name="draw_object" value="nothing">
           	nothing
          </label>
				</div>
			</div>

			<h3 id="remove_object" onclick="Panel.drawClear()">オブジェクトの削除</h3>
			<div id="draw_object" class="sub_options">
				<button id="button1" class="btn" onClick="Server.create(30,30)" >ノードの追加</button>
				<button id="button2" class="btn" onClick="Server.remove_node()" >ノードの削除</button>
			</div>
			<h3>自動移動</h3>
			<div id="draw_object" class="sub_options">
				<input type="checkbox" id="auto_move" value="on" onClick="Server.modeChange();" >自動移動</input>
			</div>
		</div><!-- .accordion -->
	</div>

	<div id="server_panel" class="panel right_panel">
		<header><h2 class="header_title">Server Panel</h2></header>
		<div class="server_info">
			<h3>ノード情報</h3>
			<div id="server_info" class="sub_options">
				<%= render 'node_info' %>
			</div>
			<h3 id="status"><a href="#">サーバ状態</a></h3>
			<div id="server_info" class="draw_tool">
				<div id="server_status" class="status">
					<input type="radio" name="status" value="active" checked >
					<label class="option_label">Active</label> <br />
					<input type="radio" name="status" value="suspend" >
					<label class="option_label">Suspend</label> <br />
					<input type="radio" name="status" value="shutdown" >
					<label class="option_label">Shutdown</label> <br />
				</div>
			</div>
			<h3>記事一覧</h3>
			<div id="articles" class="sub_options">
				<p>sample</p>
			</div>
		</div>
	</div>

	<div id="data_panel" class="panel right_panel">
		<header><h2 class="header_title">Data Panel</h2></header>
		<div class="simulator_info">
			<div id="chartContainer" style="height: 300px; width: 100%;"></div>
		</div>
	</div>



	<canvas id='canvas' width="1600" height="800" style="background-color:#eee9e9;"></canvas> 
</body>