<style>
body {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>

<div id="line_chart">
</div>

<div id="checkbox_field">
</div>

<script>
	DataList.ylabel = "送信数";
	DataList.xlabel = "Time"
  DataList.graph_data = DataList.send_user_count;
  CheckBox.create_list(DataList.user_list);
  CheckBox.setEvent();
  CheckBox.filterUpdate();
	LineChart.multi();
</script>