// Place all the styles related to the Wirelesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
    position: fixed;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.right_panel {
    right: 20px;
}

#algorithm_panel {
  width: 250px;
  right: 20px;
  top: 20px;
}

#server_panel {
  width: 250px;
  left: 100px;
  top: 300px;
}

#data_panel {
  width: 400px;
  left: 400px;
  top: 300px;
}


.sub_options {
    padding: 2px;
    font-size: 14px;
    margin: 2px 30px 0;
}