<div id="draw_options" class="draw_tool">
  <div id="draw_object" class="sub_options">
    <label class="radio">
      <input type="radio" name="draw_object" value="server">
      server
    </label>
    <label class="radio">
      <input type="radio" name="draw_object" value="user">
      user
    </label>
    <label class="radio">
      <input type="radio" name="draw_object" value="road">
      road
    </label>
    <label class="radio">
      <input type="radio" name="draw_object" value="wall">
      wall
    </label>
    <label class="radio">
      <input type="radio" name="draw_object" value="car">
      car
    </label>
    <label class="radio">
      <input type="radio" name="draw_object" value="lake">
      lake
    </label>
  </div>
</div>